/* Global Styles */
body {
  font-family: 'Syne', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000; /* Black */
  color: #ffffff; /* White */
}

button {
  font-family: 'Syne', sans-serif;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  color: #ffffff; /* White */
  background-color: #3399FF; /* Electric Blue */
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0077CC; /* Slightly darker Electric Blue */
}

header {
  background-color: #000000; /* Black */
  color: #ffffff; /* White */
  text-align: center;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff; /* White */
  font-family: 'Syne', sans-serif;
}

/* Footer styles */
footer {
  font-size: 32px;
  font-family: 'Syne', sans-serif;
  color: #ffffff; /* White */
  background-color: #000000; /* Black */
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
